/* =========================================== GOOGLE FONTS =================================== */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ================================== VARIBALES CSS ========================================= */
:root {
    --header-height: 3.5rem; 



    /* ================== Colors ================ */
    /* Color mode HSL (hue, saturation, lightness) */

    --first-color: hsl(195, 100%, 30%);
    --gradient-color: linear-gradient(90deg,
                      hsl(210, 55%, 20%),
                      hsl(192, 62%, 25%));
   --tittle-color: hsl(210, 52%, 20%);
   --text--color: hsl(210, 24%, 15%);
   --white-color: #fff;
   --body-color: hsl(210, 55%, 85%);




   /* =================== Font and typography ================ */
   /* .5rem = 8px | 1rem = 16px  */
   --body--font:  "Poppins", sans-serif;
   --secons-font:"Lora", serif;
   --biggest-font-size: 2.25rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;



   /*================ Font weight ============== */
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 600;

   /*============== z index ================== */
   --z-tooltip: 10;
   --z-fixed: 100;
}

   /* ============== Responcive typogrphy ============== */
   @media screen and (min-width: 1024px) {
      :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
      }
    
   }

   /* ====================== BASE =========================== */
   *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

   }

body{
    font-family: var(--body--font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color:  hsl(210, 55%, 85%); 
    color: var(--text--color);

}

ul{
    list-style: none;

}

a{
    text-decoration: none;

}

img{
    display: block;
    max-width: 100%;
    height: auto;

}


 /*========================================== REUSABLE CSS CLASSES =================================  */
 .container{
    max-width: 1120px;
    margin-inline: 1.5rem ;

 }

 .main{
    overflow: hidden; /* For Animations*/
 }


 /* ======================= HEDEAR & NAV ========================== */
 .hedear{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);


 }

 .nav{
    position: relative;
    height:var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 .nav--logo{
    width: 36px;

 }

 .nav--toggle,
 .nav--close{
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--tittle-color);
    cursor: pointer;
 }

  /*  Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav--menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210, 55%, 24%, .1);
        padding-block: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;

    }
    
}


.nav--list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;

}

.nav--link{
    color: var(--tittle-color);
    transition: color .3s;
}

.nav--link:hover{
    color:green;
}


.nav--buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;

}

.nav--button-link,
.nav--button-ghost{
    display: inline-block;
    color: rgb(253, 251, 251);

}

.nav--button-ghost{
    background-color: hsla(0, 0%, 100%, .3);
    padding: 1rem 2.5rem;
    border: 2px solid rgb(22, 3, 3);
    border-radius: .75rem;

}

.nav--close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;

}


/* show menu */
.show-menu{
    top: 0;
}


/* change background header */
.bg-header{
    box-shadow: 0 1px 16px hsla(210, 55%, 24%, .12);
}


/* ============================================= HOME ====================== */
.home{
    position: relative;

}

.home--container{
    padding-top: 8rem;
    height: 100vh;

}

.home--content{
    position: relative;
    z-index: 2;

}

.home--data{
    display: grid;
    row-gap: .5rem;

}

.home--subtittle{
    font-size: var(--small-font-size);
    color:  hsl(195, 100%, 30%);
    letter-spacing: 3px;

}

.home--tittle{
    /* font-size: var(--biggest-font-size); */
    color:var(--tittle-color)

}

.home--description{
    margin-bottom: 2.5rem;

}

.home--button{
    display: inline-block;
    background:  linear-gradient(90deg,
    hsl(210, 55%, 20%),
    hsl(192, 62%, 25%));
    color: white;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: .75rem;
    box-shadow: 0 24px 32px hsla(210, 54%, 24%, .3);


}

.home--bird-1,
.home--bird-2{
    position: absolute;
    width: 60px;

}

.home--bird-1{
    bottom: -6rem;
    rotate: -30deg;

}

.home--bird-2{
    top: 4.5rem;
    right: 0;
    rotate: -15deg;

}

.home--images{
    z-index: 1;

}

.home--images img{
    position: absolute;
    max-width: initial;
    width: 600px;
    left: -7rem;
    bottom: 0;

}


/* ============================= BREAKPOINTS===================== */
/* For small devices */
@media screen and (max-width: 305px) {
    .container{
        margin-inline: 1rem ;

    }

    .home--tittle{
        font-size: 2rem;

    }
    
}

/* For taller devices */
@media screen and(min-width: 376px) and (min-height: 800px) {
    .home--container{
         padding-top: 10rem;

    }
  
    .home--images img{
        width: 700px;
        left: -12rem;

    }
    
}

/* For medium devices */
@media screen and (min-width: 480px) {
    .home--content{
        max-width: 305px;
        

    }
  .home--bird-2{
    right: -3rem;

  }  
  
  .home--images img{
    width: initial;
    left: 0;

  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav{
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;

    }
    
    .nav--toggle,
    .nav--close{
        display: none;

    }

    .nav--menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

   .nav--list{
    flex-direction: row;
    column-gap: 5rem;
   }

    .nav--buttons{
        flex-direction: row;
        column-gap: 3rem;

    }

    .nav--logo{
        width: 48px;

    }

    .home--content{
        max-width: 550px;

    }

    .home--data{
        row-gap: 1rem;

    }

    .home--subtittle{
        font-size: var(--normal-font-size);

    }

    .home--description{
        margin-bottom: 3rem;

    }
}

@media screen and(min-width: 1120px) {
    .container{
        margin-inline:  auto;

    }
    
}

@media screen and (min-width: 1300px) {
    .home--container{
        height: 950px;
        padding-top: 10rem;

    }

    .home--bird-1,
    .home--bird-2{
        width: 80px;


    }

    .home--bird-1{
        bottom: -7rem;
        left: -7rem;

    }

    .home--bird-2{
        top: 0;
        right: -6rem;

    }

    .home--images img{
        bottom: -3rem;

    }

    ::-webkit-scrollbar{
        width: 0.6rem;
        border-radius: .5rem;
        background-color: hsl(220, 24%, 15%,);
    }

    ::-webkit-scrollbar-thumb{
        border-radius: .5rem;
        background-color: hsl(220, 24%, 25%,);
    }
    
}

/* For 2k resoltions (2048 x 1152) */
@media screen and (min-width: 2048px) {
    .container{
        max-width: 1300px;

    }

    .home--container{
        height: 1200px;
        padding-top: 15rem;

    }
    
}