


body {
    display: flex;
    justify-content: center;
    text-align: center;
 box-sizing: border-box;
}

div {
    gap: 8px;
    

}


.btn{
    height: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 60px;
    margin-left: 5px;
background-color: brown;
color: aliceblue;
    
}



    